  @import "tailwindcss";


  body {
  @apply bg-slate-100 text-slate-800;
}



@keyframes floatSlow {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.blob {
  position: absolute;
  width: 380px;
  height: 380px;
  background: #a3a0fb;
  border-radius: 50%;
  top: -120px;
  left: -120px;
}

.blob2 {
  position: absolute;
  width: 420px;
  height: 420px;
  background: #89cff0;
  border-radius: 50%;
  bottom: -150px;
  right: -150px;
}
